*{
  margin:0px;
  padding:0px;
}

body{
  background-color: white;
}

.heading{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url('desk.jpg');
  position: relative;
  background-repeat: no-repeat;

}

.arcade{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url('arcade.jpg');
  position: relative;

}

.purple{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url('purple.png');
  position: relative;


}


.game1{
  color:white;
  padding: 5em;
}

.name{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #BD9A7A;
  font-size: 2em;
}

.tscript{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #BD9A7A;
  font-size: 20px;
  padding-left: 5px;
}

.projname{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #BD9A7A;
  font-size:3em;
  padding: 5px;
}

.projname2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #b19cd9;
  font-size:2em;
  padding: 5px;
}

.box1{
  height:800px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 15px;
  padding:10px;
  background-color: #BF9972;
  border-radius:  25px;
}

.boxtable{
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 15px;
  padding:10px;
  background-color: #BF9972;
  border-radius:  25px;
}
.projbox{
  margin-top:5px;
  padding:10px;
  background-color: #80664D;
}


.projbox2{
  margin-top:5px;
  padding:10px;
  background-color: #966fd6;
}

.prj{
  font-size: 20px;
  color: white;
  padding-left: 2em;
  padding-top: 3em;
  padding-right: 2em;
}

.intro{
  font-size: 20px;
  color: white;
  padding-left: 2em;
  padding-top: 3em;
  padding-right: 2em;
}

.projimg{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3em;
}


.link a{
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #b19cd9;
  padding-top: 1em;
  font-family: serif;

}

.link2 a{
  font-size:30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #EDAEC0;
  padding-top: 1em;
  font-family: serif;

}

video{
  padding-left:20px;
}

table {
  border-collapse: collapse;
  width: 100%
}


td, th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

tr:nth-child(even){
  background-color: #dddddd;
  }

h3{
  padding:5px;
  color: white;
  font-size: 2em;
}


label{
  padding:20px;
  padding-left: 40px;
  color: white;
  font-size: 20px;
}

nav{
  text-align: center;
}
ul{
  padding: 1em;
  background-color: #BD9A7A;
}
li {
  display: inline;
  border-right: 2px solid white;
  flex-direction: row;
  justify-content: center;
}

button{
   font-size: 1.3em;
   color: white;
   background-color: #BD9A7A;
   border: none;
   padding: 1em;
   text-align: center;
   text-decoration: none;
   font-family: serif;
}

select{
  border: none;
  color: #654321;
  outline: 0;
  padding: 2px;
  border-radius: 25px;

}
li a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 1em;
  font-size: 1.3em;
}
